<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Info" internalLogFile="c:\temp\nlog-internal.log" >

  <extensions>
    <add assembly="NLog.Targets.SNS"/>
  </extensions>

  <targets>
    <target xsi:type="SNS"
            name="s"
            RegionEndpoint ="us-west-1"
            AccessKey="[AccessKey]"
            SecretKey="[SecretKey]"
            TopicArn ="arn:aws:sns:us-west-1:{your-account-number}:{your-topic}"
            AmazonCredentialType="Amazon.Runtime.BasicAWSCredentials, AWSSDK.Core"
            layout="${message}"/>

    <target xsi:type="File"
            name="jsonlines"
            fileName="${basedir}/logs/FootplateWorker.${date:format=yyyy-MM-dd}.jsonl"
            layout="{&quot;logger&quot;:&quot;${json-encode:${logger}}&quot;,&quot;severity&quot;:&quot;${json-encode:${uppercase:${level}}}&quot;,&quot;eventTime&quot;:&quot;${json-encode:${longdate}}&quot;,&quot;message&quot;:&quot;${json-encode:${message}}&quot;,${onexception:&quot;exception&quot;\:&quot;${json-encode:${exception:format=tostring}}&quot;,}&quot;pid&quot;:&quot;${json-encode:${processid}}&quot;,&quot;thread&quot;:&quot;${json-encode:${threadid}}&quot;${when:when=length('${event-context:item=alert}')>0:,&quot;alert&quot;\:&quot;${json-encode:${event-context:item=alert}}&quot;}}"
    />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="jsonlines" />
    <logger name="*" minlevel="Debug" writeTo="s" />
  </rules>
</nlog>